



.login-dialog {
  background: white;
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 20px;

}

.login-dialog .btn-close-c, .login-dialog .close-img {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 42px;
  height: 42px;
  background: none;
  border: none;
}
/*.login-content{*/
/*  width: 450px;*/
/*  padding: 40px 45px 24px;*/
/*  background: rgb(255, 255, 255);*/
/*  border-radius: 20px 0px 20px 20px;*/
/*}*/
@media only screen and (min-width: 576px) {
  .text-end-forgot-password{
    text-align: end;
  }
}

a:hover{
  cursor: pointer;
}

.user-icon{
  left:13px;
  top: 35px;
  position: relative;
  z-index: 2;
  font-size: 22px;
}

.password-icon{
  left:13px;
  top: 35px;
  position: relative;
  z-index: 2;
  font-size: 22px;
}

.input-height{
  border-radius: 8px;
  padding: 10px 45px;
  height: auto;
}

.btn.bg-gradient-info:hover{
  transform: scale(1.02);
}
.bg-gradient-info {
  background-image: linear-gradient(
    310deg
    , #ff7f00 0%, #ffaa56 100%);
}

.border-btn-login{
  border-radius: 7px;
}
.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;

}

.text-head-login{
  background-image: linear-gradient(310deg, #ff7f00, #ffaa56)
}

.bg-login-facebook{
  background-image: linear-gradient(
    310deg
    , #3b5998 0%, #6a96ed 100%);
}
.btn.bg-login-facebook:hover{
  transform: scale(1.02);
}
.bg-login-google{
  background-image: linear-gradient(
    310deg
    , #dd4b39 0%, #ea7a6e 100%);
}
.btn.bg-login-google:hover{
  transform: scale(1.02);
}
input,
input::-webkit-input-placeholder {
  font-size: 14px;
}

/*@media (min-width: 768px) {*/
/*  .gradient-form {*/
/*    height: 100vh !important;*/
/*  }*/
/*}*/


@media (max-width: 769px) {
  .gradient-custom-2 {
    /*border-top-right-radius: .3rem;*/
    /*border-bottom-right-radius: .3rem;*/
    visibility: hidden;
  }
  /*.rewidth  {*/
  /*  width:*/
  /*}*/
}

.gradient-custom-2 {
  /* fallback for old browsers */
  /*background: #fccb90;*/
  /*background: forestgreen;*/
  background-image: url("https://cdn.dribbble.com/users/1803663/screenshots/14875915/media/2dbc4413c047b5b048a02a1554b0758e.jpg?compress=1&resize=1200x900&vertical=top");

}


/*@keyframes para {*/
/*    100% {*/
/*        background-position: -5000px 20%,*/
/*        -800px 95%,*/
/*        500px 50%,*/
/*        1000px 100%,*/
/*        400px 0;*/
/*    }*/
/*}*/


/*@media (min-width: 768px) {*/
/*  .gradient-form {*/
/*    height: 100vh !important;*/
/*  }*/
/*}*/

/*@media (min-width: 769px) {*/
/*  .gradient-custom-2 {*/
/*    border-top-right-radius: .3rem;*/
/*    border-bottom-right-radius: .3rem;*/
/*  }*/
/*}*/
