
<div class="modal-dialog">
  <p class="modal-title fs-4 text-center text-success">Bạn có muốn xóa tin tức này không?</p>
</div>
<!--    <div class="modal-body fs-6 fw-bold text-danger">-->
<!--      <table class="table">-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Tiêu đề: </td>-->
<!--          <td>{{news.title}}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">2</th>-->
<!--          <td>Loại tin tức: </td>-->
<!--          <td>{{news.typeOfNews.name}}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">3</th>-->
<!--          <td>Ngày đăng: </td>-->
<!--          <td>{{news.postDate}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)=" onNoClick()">Thoát</button>
  <button type="button" class="btn btn-danger" (click)="deleteMedical()">Xóa</button>
</div>
