<main class="container-fluid bg-white" style="padding-top: 5rem">
  <div class="row">
    <div class="col-md-9 m-auto justify-content-center bg-white ">
      <div style="background-color: lightseagreen; font-size: 100%" class="text-light">
        <div class="mt-1 mb-1">
             <span class="mt-2 mb-2">
            <a class="text-decoration-none text-light  btn btn-link"
            >Tin tức</a></span>
          <span class="mt-2 mb-2"> |
            <a class="text-decoration-none text-light  btn btn-link ">{{news.typeOfNews.name}}</a></span>
          <span class="float-end mt-2 mb-2 me-2 text-light "
                style="text-align: center">{{time | date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="float-end mt-3 mb-2 me-2" *ngIf="check==true">
          <a class="btn btn-sm btn-warning ms-4"  [routerLink]="['/news/edit', news.id]">Sửa</a>
          <a class="btn btn-sm btn-danger ms-2" (click)="openDialog(news.id)">Xóa</a>
        </div>
      </div>
      <div class="mt-3">
        <p class="fs-4 fw-bold" style="padding: 0px; margin: 0px">{{news.title}}</p>
        <!--                Ngày đăng-->
        <p class="mb-2" style="font-size: 80% ">{{news.postDate | date : "dd/MM/yyyy"}}</p>
        <!--                    Nội dung-->
        <div class="text-center mb-2">
          <img src="{{img}}" width="90%">
        </div>
        <p align="justify" class="fs-5" [innerHTML]="news.content">{{news.content}}</p>
      </div>
      <!--                Tác giả-->
      <div class="float-end">
<!--        <p class="fs-5 fw-bold">{{news.employee.name}}</p>-->
      </div>
    </div>
  </div>
</main>
