<span [class.alert-danger]="message" (message)="message" [textContent]="message">{{'message'}}</span><!--thẻ modal-->
<br>
<button type="button" class="btn btn-warning btn-responsive-margin-bottom text-white" data-bs-toggle="modal"
        data-bs-target="#myModaledit"><i class="fas fa-edit"></i> Sửa
</button>
<div class="modal" id="myModaledit" style="text-align: left">
  <div class="modal-dialog mw-100 w-75" style="width: 1280px">
    <div class="modal-content col-12">
       <div class="card mb-8">
        <div class="btn btn-success modal-header">
          <h6>Chỉnh sửa thông tin</h6>
          <p class="text-success"></p>
        </div>
        <div class="modal-body">
          <form class="form-group row g-3 needs-validation m-3" [formGroup]="individualForm" (ngSubmit)="onSubmit()"
                method="post">
            <div class="col-md-6 position-relative">
              <label for="code" class="form-label">Mã cá thể <span
                style="color: red">(*)</span></label>
              <input type="text" id="code" class="form-control" formControlName="id" disabled>
              <small class="fst-italic" style="color: red"
                     *ngIf="individualForm.controls.id.dirty &&individualForm.controls.id.hasError('required')">
                Mã cá thể không được để trống</small>
              <small class="fst-italic" style="color: red"
                     *ngIf="individualForm.controls.id.dirty &&individualForm.controls.id.hasError('required')">
                Phải đúng định dạng IN-XXXX</small>
            </div>

            <div class="col-md-6 position-relative">
              <label for="machuong" class="form-label">Mã chuồng nuôi <span
                style="color: red">(*)</span></label>
              <select id="machuong" class="form-select" aria-label="Default select example" formControlName="cage"
                      name="positionDTO">
                <option [ngValue]="null">--Chọn--</option>
                <option *ngFor="let item of cage"
                        [ngValue]="item">{{item.id}}</option>
              </select>
            </div>

            <div class="col-md-6 position-relative">
              <label for="datein" class="form-label">Ngày vào chuồng <span
                style="color: red">(*)</span></label>
              <input type="date" id="datein" class="form-control" formControlName="dateIn">
              <small class="fst-italic" style="color: red"
                     *ngIf="individualForm.controls.dateIn.dirty &&individualForm.controls.dateIn.hasError('required')">
                Ngày vào chuồng không được để
                trống</small>
            </div>
            <div class="col-md-6 position-relative">
              <label for="dateout" class="form-label">Ngày xuất chuồng <span
                style="color: red">(*)</span></label>
              <input type="date" id="dateout" class="form-control" formControlName="dateOut">
              <small class="fst-italic" style="color: red"
                     *ngIf="individualForm.controls.dateOut.dirty &&individualForm.controls.dateOut.hasError('required')">
                Ngày xuất chuồng không được để trống</small>
            </div>

            <div class="col-md-6 position-relative ">
              <label for="position-relative" class="form-label" formControlName="status">Tình trạng <span
                style="color: red">(*)</span></label>
              <br>
              <select id="position-relative" class="form-control" aria-label="Default select example"
                      formControlName="status">
                <option Value="null">Lựa chọn trạng thái</option>
                <option [value]="0">Bệnh</option>
                <option [value]="1">Khỏe mạnh</option>

              </select>
            </div>
            <div class="col-md-6 position-relative">
              <label for="weight" class="form-label">Cân nặng/Kg<span style="color: red">(*)</span></label>
              <input type="number" id="weight" class="form-control" placeholder="Kg"
                     formControlName="weight" min="0">
              <small class="fst-italic" style="color: red"
                     *ngIf="individualForm.controls.weight.dirty &&individualForm.controls.weight.hasError('required')">
                Cân nặng không được để trống</small>
              <small class="fst-italic" style="color: red"
                     *ngIf="individualForm.controls.weight.dirty &&individualForm.controls.weight.hasError('min')">
                không được là số âm, nhỏ nhất là 1</small>

            </div>
            <div class="modal-footer col-12">
              <div class="btn-toolbar mb-3 d-flex flex-row-reverse bd-highlight" role="toolbar"
                   aria-label="Toolbar with button groups">
                <div class="me-2 float-right">
                  <div class="btn-group me-2">
                    <button class="btn btn-secondary customBtn" type="button" (click)="Reset()" data-bs-dismiss="modal">
                      Hủy
                    </button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModaledit2">
                      Chỉnh sửa
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModaledit2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="text-align: left">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-danger">
        <h5 class="modal-title" id="exampleModalLabel">thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p size="6"> Bạn có muốn cập nhật thông tin cá thể
        </p>
        <br>
        <font size="3"> <span style="color: red">Các thông tin cũ sẽ bị mất</span></font>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-warning" (click)="onSubmit()" data-bs-dismiss="modal"
                  data-bs-target="#modal3"
                  data-bs-toggle="modal" >Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
