<div class="mat-card-header">
  <h4>Thêm bằng file excel</h4>
</div>
<div class="row">
  <div class="input-group col-12">
    <input type="file" accept=".xlsx" (change)="onFileSelect($event)" class="form-control" id="inputGroupFile04"
           formControlName="profile" name="profile"
           aria-describedby="inputGroupFileAddon04" aria-label="Upload">
    <button [mat-dialog-close] class="btn btn-secondary me-2">Hủy</button>
    <button class="btn btn-success" type="button" (click)="submitFile()" id="inputGroupFileAddon04">Thêm </button>

  </div>
  <div class="row mt-3">
    <div class="col-12 text-end">
      <a href="https://docs.google.com/spreadsheets/d/1_91N8izG7v6YkQS0MqseLlJkau7I8d8U/edit?usp=sharing&ouid=116828765921222317986&rtpof=true&sd=true" target="_blank" download="">File mẫu</a>
    </div>
  </div>

</div>
